<!doctype html>
<html lang="">
<head>
	<title>Hello Welcome to MainPage!</title>
	<style>
		html, body {
			height: 100%;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #334155;
			flex-direction: column;
			gap: 20px;
		}
		img {
			width: 304px;
			height: 228px;
		}
		p {
			color: #ff6a6a;
			font-size: 20px;
		}
	</style>
</head>
<body>
<img src="uploads/welcome.gif" alt="welcome gif">
<p>If you wanted to visit dashboard page , you can continue <a href="https://dashboard.projectarea.online" >here.</a></p>
<p>If you've come for the y endpoints, you know what to do. 😘</p>
</body>
</html>
