@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e293b;
}

@layer components {
  .custom-link {
    @apply flex flex-col md:flex-row justify-center items-center  p-3 gap-1 md:p-6 md:gap-3 hover:bg-primary/30 hover:text-primary;
  }

  .blur-button {
    @apply text-white bg-white/10  backdrop-blur-sm py-1 px-2 md:py-2 md:px-4 inline-flex items-center gap-2 rounded-md hover:bg-black/50;
  }
  .tag-category {
    @apply cursor-pointer  border-primary text-primary text-sm font-light border rounded-xl p-1 px-2 transition-all duration-200 hover:bg-primary hover:text-[#212121];
  }
  .form-text {
    @apply w-[100%] p-2 rounded-md bg-transparent outline-none text-white border-b-2 placeholder-slate-400;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
