@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer components{
  .custom-link{
    @apply grid gap-1 place-items-center sm:flex sm:p-4 sm:gap-3   p-2 cursor-pointer border-[#63dad6] hover:bg-primary-focus hover:border-r-4  hover:text-gray-700 hover:font-semibold transition duration-300
  }

  .blur-button{
    @apply text-white bg-white/10  backdrop-blur-sm py-2 px-4 inline-flex items-center gap-2 rounded-md hover:bg-black/50
  }
}



.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}